.dog-container {
  padding: 1rem 1rem;
  background-color: #f9fafb;
  min-height: 90vh;
  display: flex;
  justify-content: center;
}

.dog-grid {
  display: grid;
  gap: 2rem;
  width: 100%;
  align-items: start;
  background: #f9fafb;
  padding: 3rem;
  border-radius: 12px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.05);
  color: #374151;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* Desktop layout: 2 columns */
@media (min-width: 768px) {
  .dog-grid {
    grid-template-columns: 0.5fr 3fr;
  }

  .dog-gallery-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
    gap: 1rem;
    padding: 2rem;
  }
  
  .dog-gallery-photo{
    padding: 0.5rem;
    aspect-ratio: 3 / 4; /* taller for caption space */
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .dog-gallery-photo img {
    width: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
  }
  
  .dog-gallery-mionova-image-v.scaled {
    transform: scale(1.2);
  }  

  .dog-gallery-mionova-image-h.scaled {
    transform: scale(1.2);
  }  

  .dog-grid h3 {
    font-size: 20px;
    color: #111827;
    margin-bottom: 3rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  
  .dog-grid p {
    font-size: 16px;
  }
}

/* Mobile View Settings */
@media (max-width: 768px) {
  .dog-gallery-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 0.5fr));
    gap: 1.5rem;
    padding-top: 1rem;
  }
  
  .dog-gallery-photo {
    aspect-ratio: 3 / 4; /* taller for caption space */
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .dog-gallery-photo img {
    width: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
  }
  
  .dog-gallery-mionova-image-v.scaled {
    transform: scale(1.5);
  }

  .dog-gallery-mionova-image-h.scaled {
    transform: scale(1.5);
  }

  .dog-grid h3 {
    font-size: large;
    color: #111827;
    margin-bottom: 3rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  
  .dog-grid p {
    font-size: 15px;
  }
}

