.nyc-container {
  padding: 1rem 1rem;
  background-color: #f9fafb;
  min-height: 90vh;
  display: flex;
  justify-content: center;
}

.nyc-grid {
  display: grid;
  gap: 2rem;
  width: 100%;
  align-items: start;
  background: #f9fafb;
  padding: 3rem;
  border-radius: 12px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.05);
  color: #374151;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* Desktop layout */
@media (min-width: 768px) {
  .nyc-grid {
    grid-template-columns: 0.7fr 3fr;
  }

  .desktop-nyc-wrapper .nyc-gallery-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .desktop-nyc-wrapper .nyc-gallery-scroll {
    display: flex;
    flex-wrap: wrap;
    overflow-x: auto;
    gap: 2rem;
    row-gap: 3rem;
    scroll-snap-type: x mandatory;
  }

  .desktop-nyc-wrapper .nyc-photo-wrapper {
    flex: 0 0 calc(24% - 1rem);
    scroll-snap-align: start;
    margin-bottom: 1rem;
  }

  .desktop-nyc-wrapper .nyc-gallery-image-h {
    width: 100%;
    aspect-ratio: 3 / 2;
    object-fit: cover;
    transition: transform 0.3s ease;
  }

  .desktop-nyc-wrapper .nyc-gallery-image-v {
    width: 100%;
    aspect-ratio: 3 / 4;
    object-fit: cover;
    transition: transform 0.3s ease;
  }

  .desktop-nyc-wrapper .nyc-gallery-image-h.scaled,
  .desktop-nyc-wrapper .nyc-gallery-image-v.scaled {
    transform: scale(1.1);
  }

  .nyc-grid h3 {
    font-size: 20px;
    color: #111827;
    margin-bottom: 3rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .nyc-grid p {
    font-size: 16px;
  }

  .nyc-photo-caption {
    margin-top: 1rem;
    font-size: small;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    color: #374151;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
    text-align: center;
  }

  .nyc-photo-wrapper:hover .nyc-photo-caption {
    opacity: 1;
  }
}

/* Mobile */
@media (max-width: 768px) {
  .mobile-nyc-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 300px));
    gap: 1rem;
    padding-top: 1rem;
  }

  .mobile-nyc-wrapper .nyc-gallery-container {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;   /* Prevent horizontal scrolling */
  }

  .mobile-nyc-wrapper .nyc-photo-wrapper {
    width: 100%;
  }

  .mobile-nyc-wrapper .nyc-gallery-image-h {
    width: 100%;
    aspect-ratio: 3 / 2;
    object-fit: cover;
  }

  .mobile-nyc-wrapper .nyc-gallery-image-v {
    width: 100%;
    aspect-ratio: 3 / 4;
    object-fit: cover;
  }

  .nyc-grid h3 {
    font-size: large;
    color: #111827;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .nyc-grid p {
    font-size: 13px;
  }

  .nyc-photo-caption {
    margin-top: 1rem;
    font-size: x-small;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #374151;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
    text-align: center
  }

  .nyc-photo-wrapper:hover .nyc-photo-caption {
    opacity: 1;
  }
  
  .mobile-nyc-wrapper .nyc-gallery-image-h.scaled,
  .mobile-nyc-wrapper .nyc-gallery-image-v.scaled {
    transform: scale(1.1);
  }
}